<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Информационно-справочная система экспертного назначения</title>
    <link rel="icon" href="image/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style4.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a href="http://мвд.рф" target="_blank" class="navbar-brand">
            <img src="image/logo.png" width="96" height="57" alt="logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="Главная.html" class="nav-link">Главная</a>
                </li>
                <li class="nav-item">
                    <a href="Огнестрельное_оружие.html" class="nav-link">Огнестрельное оружие</a>
                </li>
                <li class="nav-item">
                    <a href="Газовое_оружие.html" class="nav-link">Газовое оружие</a>
                </li>
                <li class="nav-item">
                    <a href="Пневматическое_оружие.html" class="nav-link">Пневматическое оружие</a>
                </li>
                <li class="nav-item">
                    <a href="Специальные_средства.html" class="nav-link">Специальные средства</a>
                </li>
                <li class="nav-item">
                    <a href="Патроны.html" class="nav-link">Патроны</a>
                </li>
            </ul>
            <a href="https://мосу.мвд.рф" target="_blank" class="navbar-brand">
                <img src="image/gerb.png" width="48" height="70" alt="gerb" />
            </a>
            <form class="example" action="action_page.php">
                <input type="text" placeholder="Поиск.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </nav>

    <div class="row">
            {% for ammo in object_list %}
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="weapon_detail.html"><img class="card-img-top" src="{{ ammo.common_view_ammo.url }}" alt="", style='width: 100%; height: 100%;'></a>
                <div class="card-body">
                  <h4 class="card-title"><strong>
                    <a href="{{ weapon_detail.get_absolute_url }}">{{ ammo.ammo_name }}</a></strong>
                  </h4>
                  <p class="card-text">{{ ammo.bullet_type }}</p>
                </div>
              </div>
            </div>
            {% endfor%}
        </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous">
    </script>

    <button onclick="topFunction()" id="myBtn" title="Вернуться к началу">^ Наверх</button>
    <script>
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

    <div class="footer">
        <p>
            Официальная информационно-справочная система экспертного назначения
            МосУ МВД России имени В.Я. Кикотя &copy; 2019, МВД России
        </p>
    </div>
</body>
</html>